<ion-content>
    <div class="bg-login">
        <div class="overlay container">
            <div class="padding-top-100">
                <div class="ion-text-center padding-top-100">
                    <img src="assets/img/logo.png" width="20%">
                </div>
                <ion-button color="danger" expand="block" size="large" class="margin-top-10 margin-left-30 margin-right-30" routerLink="/register">Crear Cuenta</ion-button>
                <ion-button color="light" expand="block" fill="clear" size="large" class="margin-top-10 margin-left-30 margin-right-30 font-size-15" routerLink="/login">Iniciar Sesión</ion-button>
            </div>
        </div>
    </div>
</ion-content>
