<ion-toolbar>
  <ion-segment (ionChange)="changeIonSegment($event);" color="danger">
    <ion-segment-button value="search">
      <ion-icon name="search"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map">
      <ion-icon name="map"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-searchbar *ngIf="ionSegment.value == 'search'" [(ngModel)]="searcher" (input)="search();"></ion-searchbar>
</ion-toolbar>
<ion-content class="ion-padding">
  <ng-container *ngIf="ionSegment.value == 'search'">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ng-container *ngIf="stocks.length > 0 && !loadingFindAll">
      <ion-list>
        <ion-item-group *ngFor="let productType of productTypes">
          <ion-item-divider>
            <h3>{{ productType.name }}</h3>
          </ion-item-divider>
          <ng-container *ngFor="let stock of stocks; let i = index">
            <ng-container *ngIf="stock.idProductNavigation.idProductType == productType.id">
              <ion-item-sliding>
                <ion-item-options side="start">
                  <ion-item-option color="success" (click)="createStockReceived(i);">
                    <ion-icon slot="icon-only" name="cart"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
                <ion-item [routerLink]="'/stock/' + stock.id" detail>
                  <img [src]="'assets/img/products/' + stock.idProductNavigation.referenceImage" width="13%">
                  <ion-label>
                    <h3>{{ stock.idProductNavigation.name }}</h3>
                    <p>
                      <ion-icon name="heart"></ion-icon> {{ stock.idUserNavigation.userName }}
                    </p>
                  </ion-label>
                  <span>
                    <ion-icon name="cart"></ion-icon> Cantidad {{ stock.quantity }}
                  </span>
                </ion-item>
              </ion-item-sliding>
            </ng-container>
          </ng-container>
        </ion-item-group>
      </ion-list>
    </ng-container>
    <ng-container *ngIf="stocks.length == 0 && !loadingFindAll">
      <div class="container padding-top-100 ion-text-center">
        <div class="font-size-100">
          <img src="assets/img/food-icon.png" width="30%">
          <h3>No hay alimentos para retirar actualmente.</h3>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="stocks.length == 0 && loadingFindAll">
      <ion-list>
        <ion-item *ngFor="let x of [1,1,1,1,1,1,1,1,1,1,1]">
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-container *ngIf="stocks.length > 0 && loadingFindAll">
      <ion-list>
        <ion-item *ngFor="let x of [1,1,1,1,1,1,1,1,1,1,1]">
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="ionSegment.value == 'map'">
    <ng-container *ngIf="locations.length > 0 && !loadingFindAllStockAvailable">
      <div id="map" class="container"></div>
    </ng-container>
    <ng-container *ngIf="locations.length == 0 && !loadingFindAllStockAvailable">
      <div class="container padding-top-100 ion-text-center">
        <div class="font-size-100">
          <ion-icon name="map"></ion-icon>
          <h3>No hay ubicaciones para retirar alimentos actualmente.</h3>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="locations.length == 0 && loadingFindAllStockAvailable">
      <ion-list>
        <ion-item *ngFor="let x of [1,1,1,1,1,1,1,1,1,1,1]">
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-container *ngIf="locations.length > 0 && loadingFindAllStockAvailable">
      <ion-list>
        <ion-item *ngFor="let x of [1,1,1,1,1,1,1,1,1,1,1]">
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </ng-container>
  </ng-container>
</ion-content>