<app-header-main></app-header-main>
<ion-content>
  <div class="padding-top-20 container">
    <div class="ion-text-center">
      <h4>Recuperar Contraseña</h4>
    </div>
    <div class="padding-left-30 padding-right-30 padding-top-30">
      <ng-container *ngIf="user != null">
        <ion-list>
          <ion-item>
            <ion-input [type]="typePassword" name="password" placeholder="Clave" [(ngModel)]="user.password">
            </ion-input>
            <ion-icon slot="end" [name]="iconPassword" (click)="showHidePassword();"></ion-icon>
        </ion-item>
        </ion-list>
        <ion-button color="danger" expand="block" size="large" [disabled]="loadingUpdatePasswordByIdAndRecovery" (click)="updatePasswordByIdAndRecovery();">
          <ion-spinner name="crescent" *ngIf="loadingUpdatePasswordByIdAndRecovery"></ion-spinner> CAMBIAR CONTRASEÑA
        </ion-button>
      </ng-container>
      <ng-container *ngIf="user == null">
        <div class="font-size-100 ion-text-center">
          <ion-icon name="person"></ion-icon>
          <h3>Upps!!, este Usuario no existe.</h3>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>