<app-header-main></app-header-main>
<ion-content>
  <div class="padding-top-20 container">
    <div class="ion-text-center">
      <h4>Recuperar Contraseña</h4>
    </div>
    <div class="padding-left-30 padding-right-30 padding-top-30">
      <ion-list>
        <ion-item>
          <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="user.email">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-button color="danger" expand="block" size="large" [disabled]="loadingSendRecoveryPassword" (click)="sendRecoveryPassword();">
        <ion-spinner name="crescent" *ngIf="loadingSendRecoveryPassword"></ion-spinner> ENVIAR CORREO
      </ion-button>
    </div>
  </div>
</ion-content>