<ion-header no-border>
  <ion-toolbar>
    <ion-title>Eliminar Cuenta</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-text-center">
    <span style="color: #f04141">¿ Seguro que quieres eliminar tu cuenta ?</span>
  </div>
  <br>
  <ion-button color="danger" expand="full" (click)="deleteById();" [disabled]="loadingDeleteById">
    <ion-icon name="save" *ngIf="!loadingDeleteById"></ion-icon>
    <ion-spinner name="crescent" slot="end" *ngIf="loadingDeleteById"></ion-spinner> Aceptar
  </ion-button>
</ion-content>